<form class="form" [formGroup]="bpForm" (ngSubmit)="saveBP()">
  <div class="form-row">
    <!-- Bonus program name -->
    <div class="form-row__item">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Bonus program name</mat-label>
        <input
          matInput
          placeholder="Add Bonus program"
          formControlName="bpName"
        />
      </mat-form-field>
    </div>
    <!-- /Bonus program name -->

    <!-- Bonus program photos -->
    <div class="form-row__item">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Bonus program photos</mat-label>
        <input
          matInput
          placeholder="Add some photos"
          formControlName="bpPhotos"
        />
      </mat-form-field>
    </div>
    <!-- /Bonus program photos -->

    <!-- Bonus program Description -->
    <div class="form-row__item">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Description"
          formControlName="bpDescription"
        ></textarea>
      </mat-form-field>
    </div>
    <!-- /Bonus program Description -->
  </div>
  <div class="form-row">
    <!-- Bonus program event's start -->
    <div class="form-row__item">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Event's start</mat-label>
        <input matInput type="date" formControlName="bpStartDate" />
      </mat-form-field>
    </div>
    <!-- /Bonus program event's start -->

    <!-- Bonus program event's end -->
    <div class="form-row__item">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Event's end</mat-label>
        <input matInput type="date" formControlName="bpEndDate" />
      </mat-form-field>
    </div>
    <!-- /Bonus program event's end -->
  </div>
  <div class="form-row">
    <!-- Bonus size -->
    <div class="form-row__item">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Bonus size</mat-label>
        <input matInput formControlName="bpSize" />
      </mat-form-field>
    </div>
    <!-- /Bonus size -->

    <div class="form-row__item">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput formControlName="bpPrice" />
      </mat-form-field>
    </div>
    <!-- /Bonus size -->
  </div>
  <div class="second-step__btns btns-wrapper">
    <button class="save-btn" mat-flat-button color="warn" matStepperPrevious>
      Back
    </button>
    <button
      type="submit"
      class="save-btn"
      mat-flat-button
      color="primary"
      matStepperNext
    >
      Save
    </button>
  </div>
</form>
