.container {
  min-width: 100%;
  display: flex;
  flex-direction: column;

  padding: 0px;
}
.control-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-row {
  display: flex; 
  background-color: #40bfef;
  padding-top: 10px;
  padding-bottom: 10px;
  .sidebar {
    width: 200px;
    border-right: 2px solid white;
  }
  .main-section {
    max-width: 1050px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

mat-form-field {
  height: 50px;
  margin-right: 20px;
}
.mat-button-toggle-checked {
  background-color: #0082ca;
  color: white;
}
.map {
  
  margin: 0 auto;
  position: relative;
  width: 80%;
  height: 500px;
  overflow: hidden;
}
