
<div class="container">
  <div class="control-bar">
    <mat-form-field appearance="fill">
      <mat-label>Sort by</mat-label>
      <mat-select matNativeControl>
        <mat-option value="addition">Date of addition</mat-option>
        <mat-option value="expire">Time to expire</mat-option>
        <mat-option value="raiting">Rating</mat-option>
        <mat-option value="name">Default</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" #group="matButtonToggleGroup" (change)="setIsMap(group.value)">
      <mat-button-toggle value="map" [checked]="isMap | async"
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >map</mat-icon
        ></mat-button-toggle
      >
      <mat-button-toggle value="list" [checked]="!(isMap | async)"
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >list_alt</mat-icon
        ></mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <div class="main-row" >
    
      <div class="sidebar">
        <app-side-bar-filter></app-side-bar-filter>
      </div>    

    <div class="content-area">
      <section class="main-section" *ngIf="!(isMap | async)">
        <app-tile *ngFor="let discount of discountsData | async" [discount$]="discount"></app-tile>
      </section>
      <section class="map" *ngIf="isMap | async" >
        <app-map *ngIf="markers$ | async as data"  [markers]="data" ></app-map>

      </section>
    </div>
    

  </div>
</div>