<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      {{ discount$.name | slice: 0:35 }} {{ setDotts(discount$.name, 35) }}
    </mat-card-title>
    <mat-card-subtitle>{{ discount$.category }}</mat-card-subtitle>
  </mat-card-header>
  <img
    height="150"
    mat-card-image
    src="{{ discount$.image }}"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      {{ discount$.description | slice: 0:80
      }}{{ setDotts(discount$.description, 80) }}
    </p>
    <span></span>
    <div class="info-box">
      <b>{{ 'COMMON.Tile.discount' | translate }}</b>
      <b>{{ discount$.percent }}%</b>
    </div>
    <!-- <div class="info-box"><b>Location :</b>{{discount$.location | slice: 0:10}}</div> -->
    <div class="info-box">
      <b>{{ 'COMMON.Tile.vendor' | translate }}</b>
      {{ discount$.vendor.name | slice: 0:30
      }}{{ setDotts(discount$.vendor.name, 10) }}
    </div>
    <div class="info-box">
      <b>{{ 'COMMON.Tile.expired' | translate }}</b>
      {{ discount$.expired }}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{ 'COMMON.Tile.want' | translate }}</button>
    <button mat-button (click)="redirectToDescription(discount$.id)">
      {{ 'COMMON.Tile.info' | translate }}
    </button>

    <mat-icon aria-hidden="false" aria-label="Example home icon">
      favorite
    </mat-icon>
  </mat-card-actions>
</mat-card>
