.example-card {
  width: 270px;
  display: inline-block;
  margin: 20px;
}
.mat-card-content {
  p {
    height: 35px;
    font-size: .8em;
    word-wrap: break-word;
  }
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.info-box {
  display: flex;
  justify-content: space-between;
  * {
    font-size: 0.8em;
  }
}
.mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  * {
    cursor: pointer;
  }
  mat-icon {
    &:active {
      color: red;
    }
  }
}

.mat-card-header {
  display: block;
  height: 70px;
  width: 100%;
   word-wrap: break-word;
  * {
    display: block;
    margin-left: -15px;
    word-wrap: break-word;
    overflow: hidden;
  }
}
.mat-card-image {
  object-fit: cover;
}

.tooltip-block {
  background-color: #0082ca;
  font-size: .9em;
}