<mat-card class="example-card">
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{discount$.name | slice: 0: 20}} {{setDotts(discount$.name, 20)}}</mat-card-title>
        <mat-card-subtitle>{{discount$.cathegory}}</mat-card-subtitle>
    </mat-card-header>
    <img height="150" mat-card-image src={{discount$.image}} alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p matTooltip="{{discount$.description}}" matTooltipClass="tooltip-block">
            {{discount$.description | slice: 0: 50}}{{setDotts(discount$.description, 50)}}
        </p>
        <span></span>
        <div class="info-box"><b>Discount :</b><b>{{discount$.percent}}% </b></div>
        <div class="info-box"><b>Location :</b>{{discount$.location | slice: 0:10}}</div>
        <div class="info-box"><b>Vendor :</b>{{discount$.vendor | slice: 0:10}}{{setDotts(discount$.vendor, 10)}} </div>
        <div class="info-box"> <b>Expire :</b> {{discount$.expired}}</div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>WANT</button>
        <mat-icon aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>

    </mat-card-actions>
</mat-card>
<!--<app-map></app-map>-->
