<div class="container-fluid" *ngIf=" descriptionData$ | async as data">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <div class="row header">
        <div class="col-md-8">
          <h1>{{ data.name }}</h1>
          <mat-icon placement="right" ngbTooltip="See it on the map" class="pointer" (click)="openDialogWithMap()">place</mat-icon>
          <span>{{ data.vendorLocation }}</span>
        </div>
        <div class="col-md-4 text-align-center m-t-sm">
          <span>from</span>
          {{ data.startTime | date :"dd.MM.yyyy" }}
          <span>to</span>
          {{ data.endTime | date :"dd.MM.yyyy" }}
        </div>
      </div>

      <app-carousel></app-carousel>

      <section class="article-title">
        <h3>Bonus program description</h3>
        <p>{{ data.description }}</p>
      </section>

      <section class="article-title">
        <h3>Vendor description</h3>
        <p>{{ data.vendor}}</p>
      </section>
    </div>

    <div class="col-md-3 price-container text-align-center">
      <div class="sticky-wrapper">
        <div class="price align-items-center">650
          <small>uah</small>
        </div>

        <button mat-raised-button color="accent"><div class="activate-btn">Activate coupon </div></button>

        <div class="discount">
          <b>sale</b>
          {{ data.percent }}
        </div>

        <button mat-fab color="warn" aria-label="Save in favorite">
          <mat-icon>favorite</mat-icon>
        </button>

        <div class="address-block" id="address">
          <h2>Contacts</h2>

          <ngb-rating [rate]="3"></ngb-rating>

          <div class="vendor">{{ data.vendor}}</div>
          <div class="websites">
            <a target="_blank" rel="nofollow" href="">website.com.ua</a><br>
            <a target="_blank" rel="nofollow" href="">Facebook</a><br>
            <a target="_blank" rel="nofollow" href="">Instagram</a>
          </div>

          <div class="phones">
            <b>+38 (093) 607-87-72</b>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
