<div class="profile pt-5">
  <div
    class="d-flex flex-wrap justify-content-center text-center m-0"
    *ngIf="user$ | async as data"
  >
    <div class="col-md-3 col-sm-12 h5">
      <p>
        {{ 'COMMON.Profile.logged' | translate }}:
        <span>{{ data.role }}</span>
      </p>
    </div>
    <div class="col-md-4 col-sm-12 h5">
      <p>
        Email:
        <span>{{ data.email }}</span>
      </p>
    </div>
    <div class="col-md-3 col-sm-12 h5 blueColor">
      <p>
        {{ 'COMMON.Profile.location' | translate }}:
        <span>{{ data.city.name }}</span>
      </p>
    </div>
  </div>

  <div class="container">
    <div id="content">
      <div id="main-content">
      <div class="wrapper">
          <nav mat-tab-nav-bar>
            <a mat-tab-link
               *ngFor="let link of tabs"
               [routerLink]="link.path"

            >
              {{link.tabName | translate}}
            </a>
          </nav>
        <div class="mat-tab-body-wrapper">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
