$base-color: hsl(196, 85%, 59%);
$grey: hsla(0, 0%, 60%, 0.5);

.profile{
  font-weight: normal;
  p{
    color: $grey;
    font-size: 16px;
  }

  span{
    color: $base-color;
    font-size: 24px;
  }
}

.Subscriptions {
  width: 100%;
}
.history {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  //margin: 0 auto;
  justify-content: flex-start;

  &-item {
    width: 270px;
    height: 180px;
    margin: 10px;
    background-color: #fff;
    border: 2px solid $grey;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .dicountName{
      color: $base-color;
    }
    .dicountPromo{
      font-size: 24px;
      color: hsl(0, 0%, 0%);
    }
    .dicountStart{
      color: hsla(150, 100%, 30%, 0.5);
      font-weight: bold;
    }
    .dicountEnd{
      color: hsla(0, 100%, 40%, 0.5);
      font-weight: bold;
    }
  }
}
.category {
  font-size: 18px;
  line-height: 30px;
}
.green {
  background-color: rgb(183, 255, 183);
}
.red {
  background-color: rgb(255, 183, 183);
}
.white {
  background-color: #fff;
}

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}


// categories

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}


// tabs

:host {
  > .container {
    // max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: none;
  }
  ::ng-deep {
    .mat-tab-group {
      flex-direction: row;
    }
    .mat-tab-header {
      border-bottom: none;
    }
    .mat-tab-header-pagination {
      display: none !important;
    }
    .mat-tab-labels {
      flex-direction: column;
    }
    .mat-ink-bar {
      height: 100%;
      left: 98% !important;
    }
    .mat-tab-body-wrapper {
      flex: 1 1 auto;
    }
  }
}

.container {
  position: relative;
  width: 100%;
  flex: 1 0 auto;
  margin: 0 auto;
  text-align: left;
}

#content {
  // max-width: 1100px;
  width: 100%;
  background-color: #ffffff;
  padding: 24px 0;
  box-sizing: border-box;
}

#content,
#main-content {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}