<div class="profile pt-5 h-100">
  <div class="d-flex flex-wrap justify-content-between text-center m-0">
    <div class="col-3">{{ 'COMMON.Profile.logged' | translate }}: User</div>
    <div class="col-4">User@gmai.com</div>
    <div class="col-3">{{ 'COMMON.Profile.location' | translate }}: Kyiv</div>
    <div class="col-2">
      <button mat-raised-button color="warn">
        {{ 'COMMON.Global.logout' | translate }}
      </button>
    </div>
  </div>

  <mat-tab-group color="accent" class="">
    <mat-tab label="{{ 'COMMON.Profile.subscriptions' | translate }}" class="">
      <p class="text-center mt-4">
        Here you specify what cathegory discount would you like get
        notification!
      </p>
      <!--*ngFor надо,  классы можно оставить-->
      <div
        class="d-flex justify-content-between w-50 mx-auto mt-4 border border-warning rounded p-2 green"
      >
        <span class="category">Category</span>
        <button mat-raised-button>Subscribe</button>
      </div>
      <div
        class="d-flex justify-content-between w-50 mx-auto mt-4 border border-warning rounded p-2 green"
      >
        <span class="category">Category</span>
        <button mat-raised-button>Subscribe</button>
      </div>
      <div
        class="d-flex justify-content-between w-50 mx-auto mt-4 border border-warning rounded p-2 red"
      >
        <span class="category">Category</span>
        <button mat-raised-button>Delete</button>
      </div>
      <div
        class="d-flex justify-content-between w-50 mx-auto mt-4 border border-warning rounded p-2 green"
      >
        <span class="category">Category</span>
        <button mat-raised-button>Subscribe</button>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'COMMON.Profile.favorite' | translate }}" class="">
      <div class="d-flex flex-wrap mt-4">
        <!--*ngFor надо,  классы можно оставить-->
        <div class="d-flex flex-column col-3 border rounded bg-light">
          <p>Discount name</p>
          <p>Short description</p>
          <button mat-raised-button class="w-50 align-self-end">View</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'COMMON.Profile.history' | translate }}" class="">
      <div class="history">
        <!--*ngFor надо,  классы можно оставить-->
        <div class="history-item">
          <p>Discount name</p>
          <p>Short description</p>
          <p>Date of use</p>
        </div>
        <div class="history-item">
          <p>Discount name</p>
          <p>Short description</p>
          <p>Date of use</p>
        </div>
        <div class="history-item">
          <p>Discount name</p>
          <p>Short description</p>
          <p>Date of use</p>
        </div>
        <div class="history-item">
          <p>Discount name</p>
          <p>Short description</p>
          <p>Date of use</p>
        </div>
        <div class="history-item">
          <p>Discount name</p>
          <p>Short description</p>
          <p>Date of use</p>
        </div>
        <div class="history-item">
          <p>Discount name</p>
          <p>Short description</p>
          <p>Date of use</p>
        </div>
        <div class="history-item">
          <p>Discount name</p>
          <p>Short description</p>
          <p>Date of use</p>
        </div>
        <div class="history-item">
          <p>Discount name</p>
          <p>Short description</p>
          <p>Date of use</p>
        </div>
        <div class="history-item">
          <p>Discount name</p>
          <p>Short description</p>
          <p>Date of use</p>
        </div>
      </div>
    </mat-tab>
    <mat-tab
      label="{{ 'COMMON.Profile.activeDiscounts' | translate }}"
      class=""
    >
      discounts
    </mat-tab>
  </mat-tab-group>
</div>
