// === SECOND STEP ===
.tile-wrapper {
  margin: 20px 0;
}

.second-step__btn-top-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
// === /SECOND STEP ===
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;

  &-row {
    display: flex;
    margin-bottom: 15px;
    align-items: baseline;
  }

  &-field {
    width: 50%;
    padding-left: 50px;
  }
}

.date-wrap {
  width: 50%;
  display: flex;
  padding-left: 50px;
  justify-content: space-around;
}

.add-btn {
  padding: 0;
  height: 0;
  border: 0;
  margin-left: 10px;
}

.btns-wrapper {
  display: flex;
  justify-content: space-between;
}

.save-btn {
  width: 50;
  height: 30;
}
.edit-discount-head{
  h3{
    margin: 0; 
    b{
      color: #0082ca;
      letter-spacing: 0.1em;
    }
  }
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}