<div class="second-step__btn-top-wrapper">
  <button
    mat-flat-button
    color="primary"
    label="create"
    (click)="activeComponent = 'create'"
    *ngIf="activeComponent === 'edit'"
  >
    <mat-icon>add_box</mat-icon>
    {{ 'COMMON.Stepper.addBp' | translate }}
  </button>

  <button
    mat-flat-button
    color="primary"
    label="create"
    (click)="activeComponent = 'edit'"
    *ngIf="activeComponent === 'create'"
  >
    <mat-icon>edit_box</mat-icon>
    Edit BP
  </button>
</div>
<div class="tile-wrapper">
  <div class="tiles" *ngIf="activeComponent === 'edit'">
    <!-- <app-tiles-box ></app-tiles-box> -->
    <app-tiles-box  [discountsData$]="vendorDiscounts" (transitId)="getDiscountId($event)"></app-tiles-box>
  </div>
  <form class="form" [formGroup]="discountForm" (ngSubmit)="saveBP()" *ngIf="activeComponent !== 'edit'">
    <div class="form-row">
      <!-- Bonus program name -->
      <mat-form-field class="example-full-width form-field" appearance="fill">
        <mat-label>Bonus program name</mat-label>
        <input matInput placeholder="Add Bonus program" formControlName="name" />
      </mat-form-field>
      <!-- /Bonus program name -->
    </div>
  
    <div class="form-row">
      <!-- Bonus program category -->
      <mat-form-field class="example-full-width form-field" appearance="fill">
        <mat-label>{{ 'COMMON.Stepper.vendorCategory' | translate }}</mat-label>
        <input
          type="text"
          aria-label="Bonus program category"
          matInput
          formControlName="category"
          [matAutocomplete]="category"
        />
        <mat-autocomplete #category="matAutocomplete">
          <mat-option
            *ngFor="
              let category of categories$
                | async
                | filter: this.discountForm.controls.category.value
            "
            [value]="category"
          >
            {{ category }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button
        type="button"
        class="add-btn"
        (click)="createCategory(this.discountForm.controls.category.value)"
      >
        <mat-icon>add_box</mat-icon>
      </button>
      <!-- /Bonus program category -->
    </div>
  
    <div class="form-row">
      <!-- Bonus program tag -->
      <mat-form-field class="example-full-width form-field" appearance="fill">
        <mat-label>{{ 'COMMON.Stepper.vendorTag' | translate }}</mat-label>
        <input
          type="text"
          aria-label="Bonus program tag"
          matInput
          formControlName="tag"
          [matAutocomplete]="tag"
        />
        <mat-autocomplete #tag="matAutocomplete">
          <mat-option
            *ngFor="
              let tag of tags$ | async | filter: this.discountForm.controls.tag.value
            "
            [value]="tag"
          >
            {{ tag }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button
        type="button"
        class="add-btn"
        (click)="createTag(this.discountForm.controls.tag.value)"
      >
        <mat-icon>add_box</mat-icon>
      </button>
      <!-- /Bonus program tag -->
    </div>
  
    <div class="form-row">
      <!-- Bonus program photos -->
      <mat-form-field class="example-full-width form-field" appearance="fill">
        <mat-label>Bonus program photos</mat-label>
        <input
          matInput
          placeholder="Add some photos"
          formControlName="image"
        />
      </mat-form-field>
  
      <!-- /Bonus program photos -->
    </div>
  
    <div class="form-row">
      <!-- Bonus program Description -->
      <mat-form-field class="example-full-width form-field" appearance="fill">
        <mat-label>{{ 'COMMON.Stepper.description' | translate }}</mat-label>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
        ></textarea>
      </mat-form-field>
      <!-- /Bonus program Description -->
    </div>
  
    <div class="form-row date-wrap">
      <!-- Bonus program event's start -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{ 'COMMON.Stepper.eventStart' | translate }}</mat-label>
        <input matInput type="date" formControlName="eventStart" />
      </mat-form-field>
      <!-- /Bonus program event's start -->
  
      <!-- Bonus program event's end -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{ 'COMMON.Stepper.eventEnd' | translate }}</mat-label>
        <input matInput type="date" formControlName="eventEnd" />
      </mat-form-field>
      <!-- /Bonus program event's end -->
    </div>
  
    <div class="form-row">
      <!-- Discount's type -->
      <mat-form-field class="example-full-width form-field" appearance="fill">
        <mat-label>Discount's type</mat-label>
        <mat-select matNativeControl formControlName="discountType">
          <mat-option *ngFor="let type of DiscountsTypes" value="type.value">
            {{ type.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- /Discount's type -->
    </div>
  
    <div class="form-row">
      <!-- Bonus size -->
      <mat-form-field class="example-full-width form-field" appearance="fill">
        <mat-label>{{ 'COMMON.Stepper.bonusSize' | translate }}</mat-label>
        <input type="number" matInput formControlName="size" />
      </mat-form-field>
      <!-- /Bonus size -->
    </div>
  
    <div class="form-row">
      <!-- Promo -->
      <mat-form-field class="example-full-width form-field" appearance="fill">
        <mat-label>Promo</mat-label>
        <input matInput formControlName="promo" />
      </mat-form-field>
      <!-- /Promo -->
    </div>
  
    <div class="second-step__btns btns-wrapper">
      <button class="save-btn" mat-flat-button color="warn" matStepperPrevious>
        {{ 'COMMON.Global.back' | translate }}
      </button>
      <button
        type="submit"
        class="save-btn"
        mat-flat-button
        color="primary"
        matStepperNext
      >
        {{ 'COMMON.Global.save' | translate }}
      </button>
    </div>
  </form>
</div>
