<div class="container-fluid" *ngIf=" descriptionData$ | async as data">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <div class="row header">
        <div class="col-md-7 overflow">
          <h1>{{ data.name }}</h1>
        </div>
        
        <div class="col-md-7 article-title pl-2">
          <mat-icon class="icon">place</mat-icon>
          <span>{{ data.vendorLocations[0].city.countryName}}, {{data.vendorLocations[0].city.name }}</span>
        </div>
        
        

      </div>

<!--      <app-carousel *ngFor="let img of data.img | async" [images]="data.img"></app-carousel>-->
      <div class="carousel">
        <app-carousel  [images]="data.img" ></app-carousel>
      </div>


      <section class="article-title">
        <h3>{{ 'COMMON.description.title.bp' | translate }}</h3>
        <p>{{ data.description }}</p>
      </section>

      <section class="article-title">
        <h3>{{ 'COMMON.description.title.vendor' | translate }}</h3>
        <p>{{ data.vendor.description }}</p>
      </section>

      <div class="article-title map-wrapper ">
        <app-map></app-map>
      </div>

      <div class="address-block mt-5" id="address">
        <h2>{{ 'COMMON.description.rightpanel.contacts' | translate }}</h2>

        <div class="vendor">{{ data.vendor.name}}</div>
        <div class="websites">
          <a target="_blank" rel="nofollow" href="">website.com.ua</a><br>
          <a target="_blank" rel="nofollow" href="">Facebook</a><br>
          <a target="_blank" rel="nofollow" href="">Instagram</a>
        </div>

        <div class="phones">
          <b>{{ data.vendor.contacts }}</b>
        </div>
      </div>

    </div>

    <div class="col-md-3 price-container text-align-center">
      <div class="sticky-wrapper">
        <div class="price">
          650 <small>{{ 'COMMON.description.currency' | translate }}</small>
        </div>

        <div class="discount mb-4 m-0">
          <span>{{ 'COMMON.description.rightpanel.sale' | translate }}</span>
          <span class="discount-num">- {{ data.percent }} %</span>
        </div>

        <button mat-raised-button color="accent" class="activate-btn">
          {{ 'COMMON.description.rightpanel.coupon' | translate }}
        </button>

        <div class="bpDate mt-2">
          <span><strong>{{ 'COMMON.description.rightpanel.dateFrom' | translate }}</strong></span>
          {{ data.startTime | date :"dd.MM.yyyy" }}
          <span><strong>{{ 'COMMON.description.rightpanel.dateTo' | translate }}</strong></span>
          {{ data.endTime | date :"dd.MM.yyyy" }}
        </div>
          

<!--        <button mat-fab color="warn" aria-label="Save in favorite">-->
<!--          <mat-icon>favorite</mat-icon>-->
<!--        </button>-->
        <button class="favorite mt-4" mat-fab aria-label="Add to favorite">
          <mat-icon (click)="addFavorite()">favorite</mat-icon>
        </button>

        
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
