/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.statistic-chart-container {
  position: relative;
  margin: 20px;
  .chart-container {
    position: relative;
    min-height: 200px;
    overflow: auto;
  }
}

.statistic-container {
  position: relative;
  margin: 20px;
  .table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
  }
  table {
    width: 100%;
  }
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }

  .mat-column-created {
    max-width: 124px;
  }
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

