<ngb-carousel *ngIf="images">
  <ng-template ngbSlide *ngFor="let img of images">
    <div class="picsum-img-wrapper">
      <img [src]="images" alt="Random first slide" class="col-md-12 float-md-start mb-6 ms-md-6">
    </div>
  </ng-template>
<!--  <ng-template ngbSlide>-->
<!--    <div class="picsum-img-wrapper">-->
<!--      <img [src]="images[1]" alt="Random second slide" class="col-md-12 float-md-start mb-6 ms-md-6">-->
<!--    </div>-->
<!--  </ng-template>-->
<!--  <ng-template ngbSlide>-->
<!--    <div class="picsum-img-wrapper">-->
<!--      <img [src]="images[2]" alt="Random third slide" class="col-md-12 float-md-start mb-6 ms-md-6">-->
<!--    </div>-->
<!--  </ng-template>-->
</ngb-carousel>
