<div class="container">
  <div class="left-block">
    <img src="assets/logo.png" alt="" height="50" />
    <div class="location-block">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >location_on</mat-icon
      >
      <span> Kyiv</span>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="input discount name" type="text"
    /></mat-form-field>
  </div>

  <div class="right-block">
    <div class="notifications">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >favorite_border</mat-icon
      >
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >notifications_none</mat-icon
      >
    </div>
    <div class="user-block">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >person_outline</mat-icon
      >
      <span>Nikita Martinov</span>
    </div>
    <span>EN</span>
  </div>
</div>
<div class="tabs">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Home" routerLink="/home" routerLinkActive="active">
<!--      <app-home></app-home>-->
    </mat-tab>
    <mat-tab label="Profile">Profile content</mat-tab>
    <mat-tab label="Description" routerLink="/descriptions" routerLinkActive="active">Description content</mat-tab>
    <mat-tab label="Vendor" routerLink="/vendor" routerLinkActive="active">Vendor content</mat-tab>
    <mat-tab label="Statistic" routerLink="/statistic" routerLinkActive="active">Statistic content</mat-tab>
  </mat-tab-group>
</div>


