.cover {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.header-container {
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  mat-icon {
    transition: color 0.2s;
    cursor: pointer;
    &:hover {
      color: gold;
    }
  }

  div {
    display: flex;
    align-items: center;
  }
  .left-block {
    //min-width: 49%;
    display: flex;
    //justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .right-block {
    //min-width: 49%;
    display: flex;
    justify-content: flex-end;
    // .notifications {
    //   display: flex;
    //   justify-content: space-between;
    // }
  }
}

a {
  text-decoration: none;
}
.tabs {
  * {
    color: #0082ca;
  }
}

mat-list {
  z-index: 999;
  position: absolute;

  border-radius: 10px;
  width: 300px;
}

.mat-list-item {
  font-size: 0.6em;
  background-color: #f2f3f4;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;

  box-shadow: inset 0 0 3px 0 black;
  transition: 0.5s;
  border-radius: 5px;
  &:hover {
    transition: 0.5s;
    box-shadow: inset 0 0 15px 0 #0082ca;
  }
}

.langButton {
  &:hover {
    color: gold;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1001; // for overlay map
  top: 0;
  left: 0;
  position: fixed;
}

.mat-progress-spinner::ng-deep circle {
  stroke: #2a79ff !important;
}
