.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding-top: 20px;
  div {
    display: flex;
    align-items: center;
  }
  .left-block {
    min-width: 49%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .right-block {
    min-width: 49%;
    display: flex;
    justify-content: space-around;
    .notifications {
      min-width: 15%;
      display: flex;
      justify-content: space-around;
    }
  }
}

.notifications {
  * {
    cursor: pointer;
  }
}

.nav-link {
  text-decoration: none;
}
