.cover{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.header{
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,.12);

  mat-icon{
    transition: color 0.2s;
    cursor: pointer;
    &:hover{
      color: gold;
    }
  }

  div {
    display: flex;
    align-items: center;
  }
  .left-block {
    //min-width: 49%;
    display: flex;
    //justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .right-block {
    //min-width: 49%;
    display: flex;
    justify-content: flex-end;
    // .notifications {
    //   display: flex;
    //   justify-content: space-between;
    // }
  }
}


a {
  text-decoration: none;
}
.tabs {

  *{
    color: #0082ca;
  }
}

//.match {
//  font-size: 18px ;
//  &__segment {
//    color: #454545 ;
//    &--on {
//      color: #000000 ;
//      font-weight: 800 ;
//    }
//  }
//}

.langButton{
  &:hover{
    color: gold;
  }
}
