<div class="container">
  <div class="left-block">
    <div>
      <img src="../../../../assets/logo.png" alt="App logo" height="50" />
    </div>

    <div class="location-block">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
      >location_on</mat-icon
      >
      <span (click)="openDialog()"> PLUG</span>
    </div>
    <div class="search-container">
      <mat-form-field class="example-full-width search">
        <input
          matInput
          placeholder="Search for discount"
          type="text"
        />
      </mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
    </div>
  </div>

  <div class="right-block">
    <div class="notifications">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
      >favorite_border</mat-icon
      >
      <mat-icon aria-hidden="false" aria-label="Example home icon"
      >notifications_none</mat-icon
      >
    </div>
    <div class="user-block">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
      >person_outline</mat-icon
      >
      <button mat-button [matMenuTriggerFor]="menu" >Nikita Martinov</button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          (click)="pmClick($event)"
          *ngFor="let it of profileMenuItems"
        >
          {{ it }}
        </button>
      </mat-menu>
    </div>
    <span><a href="#">EN</a> </span>
  </div>
</div>
<hr>
<div class="tabs">
  <nav mat-tab-nav-bar class="d-none d-sm-flex">
    <a mat-tab-link  *ngFor="let tab of tabItems"
    (click)="activeLink = tab.link"
    [active]="activeLink == tab.link"
      
       [routerLink]="tab.link">
      {{tab.label}}
    </a>
  </nav>
</div>
<div>
  <router-outlet></router-outlet>
  
  
</div>

