*,
html,
body {
  box-sizing: border-box;
}

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;

  &-container {
    width: 100%;
    min-height: 70%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.info {
  &-img {
    display: block;
    margin: 0 auto;
  }

  &-description {
    width: 500px;
  }
}

.form-wrapper {
  width: 375px;
  height: 325px;
  border-radius: 10px;
  padding-top: 24px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-heading {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 0;
  }
}

mat-form-field {
  margin-bottom: 20px;
}
