<div class="login">
  <div class="login-container">
    <div class="info">
      <img class="info-img" src="../../../../assets/logo.png" alt="Discounti" />
      <p class="info-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>

    <div class="form-wrapper">
      <form class="form" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="form-heading">Log In</h1>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="username" />
          <mat-error
            *ngIf="
              form.controls['username'].invalid &&
              form.controls['username'].touched
            "
          >
            <span *ngIf="form.controls.username.errors?.required">
              Email can't be empty
            </span>
            <span *ngIf="form.controls.username.errors?.email">
              Please provide a valid Email
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-password">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" />
          <mat-error
            *ngIf="
              form.controls['password'].invalid &&
              form.controls['password'].touched
            "
          >
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button
          class="form-button"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="form.invalid || form.disabled"
        >
          Log In
        </button>
        <mat-error *ngIf="form.valid && isLoginFailed">
          {{ errorMessage }}
        </mat-error>
      </form>
    </div>
  </div>
</div>
