<mat-stepper orientation="vertical">
  <mat-step>
    <ng-template matStepLabel>{{ "COMMON.Stepper.vendorInfo" | translate }}</ng-template>
    <ng-template matStepContent>
      <!-- Step 1: Create vendor -->
      <app-step-create-vendor></app-step-create-vendor>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>{{ "COMMON.Stepper.vendorBpInfo" | translate }}</ng-template>
    <ng-template matStepContent>
      <!-- Step 2: Create BP or Edit BP -->
      <!-- CREATE -->
<!--      <app-step-create-bp></app-step-create-bp>-->
      <!-- EDIT -->
       <app-step-edit-bp></app-step-edit-bp>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>{{ "COMMON.Stepper.vendorMessage" | translate }}</ng-template>
    <ng-template matStepContent>
      {{ "COMMON.Stepper.finalMessage" | translate }}
    </ng-template>
  </mat-step>
</mat-stepper>
